@page
@model _2.Eksamensprojekt.Pages.StuderendePages.StuderendeAflysBekræftigelseModel
@{
}





<form method="post" class="AflysbookingForm">
    <input type="submit" value="OK" class="submitBlack custom-btn" asp-page="StuderendeMineBookinger"/>
    <input type="submit" value="Fortryd" class="submitBlack custom-btn" asp-page="StuderendeMineBookinger" />
</form>