@using _2.Eksamensprojekt.Pages.LogInd

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _2.Eksamensprojekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Dennis.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Marcus.css" />
    <link rel="stylesheet" href="~/css/Alexander.css" />
    <link rel="stylesheet" href="~/css/Anders_Style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 topNavBar">
            <div class="container">
                <a class="navbar-brand"> <img class="logo" src="~/img/Zealand_logo_black_RGB_1600px_72dpi.png" alt="Logo"> </a>
                <div class="fit-content black-button">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (LogIndModel.LoggedInUser == null)
                            {
                                <li class="nav-item text-end">
                                    <a class="nav-link" asp-area="" asp-page="/LogInd/LogInd">Login</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item text-end">
                                    <a class="nav-link" asp-area="" asp-page="/LogInd/LogUd">Logout</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="no_padding">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    


<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


    <footer class="border-top footer text-muted">
        <nav class="menuknapper">
            <div class="rowtest">
                @foreach (var test in User.Claims)
                {
                if (test.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
                {
                <form method="get">
                    <div class="columntest"><input type="submit" formaction="/Shared/LedigeLokaler" value="Ledige Lokaler" class="skaler btn btn-primary"></div>
                </form>

                if (test.Value == "Administration")
                {
                <form method="get">
                    <div class="columntest"><input type="submit" formaction="/AdministrationPages/AdministrationMineBookinger" value="Mine Bookinger" class="skaler btn btn-primary"></div>
                </form>

                <form method="get">
                    <div class="columntest"><input type="submit" formaction="/Shared/BookedeLokaler" value="Alle Bookinger" class="skaler btn btn-primary"></div>
                </form>
                }
                if (test.Value == "Underviser")
                {
                <form method="get">
                    <div class="columntest"><input type="submit" formaction="/UnderviserPages/UnderviserMineBookinger" value="Mine Bookinger" class="skaler btn btn-primary"></div>
                </form>

                <form method="get">
                    <div class="columntest"><input type="submit" formaction="/Shared/BookedeLokaler" value="Alle Bookinger" class="skaler btn btn-primary"></div>
                </form>
                }
                if (test.Value == "Student")
                {
                <form method="get">
                    <div class="columntest"><input type="submit" formaction="/StuderendePages/StuderendeMineBookinger" value="Mine Bookinger" class="skaler btn btn-primary"></div>
                </form>

                <form method="get">
                    <div class="columntest"><input type="submit" formaction="/Shared/OversigtsPlanZealand" value="Oversigtsplan" class="skaler btn btn-primary"></div>
                </form>
                }
                }
                }
            </div>
        </nav>
    </footer>
