@page
@model _2.Eksamensprojekt.Pages.Shared.BookedeLokalerModel
@{
}


<!DOCTYPE html>
<html>
<head>
    <title>Alle bookings</title>
</head>
<body>

<h1>Zealand</h1>
<p>Alle bookings</p>

</body>
</html> 