@page
@model _2.Eksamensprojekt.Pages.Shared.OversigtsPlanZealandModel
@{
}
<h1 class="centrer-item">Bygning D, Roskilde</h1>

<h3 class="centrer-item little_margin_top">Stueplan (D.1)</h3>

<div class="imagecontainer">

    <img src="~/Billeder/Stueplan.jpg" alt="Stueplan" class="imgpadding plantegning" />

</div>

<h3 class="centrer-item little_margin_top">1. etage (D.2)</h3>
<div class="imagecontainer">

    <img src="~/Billeder/1. Etage.jpg" alt="1. Etage" class="imgpadding plantegning" />

</div>

<h3 class="centrer-item little_margin_top">2. etage (D.3)</h3>
<div class="imagecontainer">

    <img src="~/Billeder/2. Etage.jpg" alt="2. Etage" class="imgpadding plantegning" />

</div>




