@page
@model _2.Eksamensprojekt.Pages.Shared.OversigtsPlanZealandModel
@{
}
<h1 class="centered">Stueplan</h1>

<div class="imagecontainer">

    <img src="~/Billeder/Stueplan.jpg" alt="Stueplan" class="imgpadding" />

</div>

<div class="imagecontainer">

    <img src="~/Billeder/1. Etage.jpg" alt="1. Etage" class="imgpadding" />

</div>

<div class="imagecontainer">

    <img src="~/Billeder/2. Etage.jpg" alt="2. Etage" class="imgpadding" />

</div>





