@page
@using System.Security.Claims
@model _2.Eksamensprojekt.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}
<a class="tilbageLink" asp-page="Shared/LedigeLokaler"> < TILBAGE</a>

<h1 class="alert-danger text-center" style="padding: 0.25em">Adgang nægtet!</h1>
<p>Du har ikke adgang til den side du har anmodet </p>
<img src="~/img/big_line_nep_nep_stickers_neptune_35.png" class="nepnep" />
