@page
@using System.Security.Claims
@model _2.Eksamensprojekt.Pages.Account.AccessDeniedModel
@{
}
<a class="tilbageLink" asp-page="Shared/LedigeLokaler"> < TILBAGE</a>

<h1 class="alert-danger text-center" style="padding: 0.25em">Adgang nægtet!</h1>
<p>Du har ikke adgang til den side du har anmodet </p>
