@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using _2.Eksamensprojekt.Pages.LogInd

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _2.Eksamensprojekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Marcus.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 topNavBar">
        <div class="container">
            <a class="navbar-brand"> <img class="logo" src="~/img/Zealand_logo_black_RGB_1600px_72dpi.png" alt="Logo"> </a>
            <ul class="navbar-nav flex-grow-1">
                @{
                    if (LogIndModel.LoggedInUser == null)
                    {
                        <li class="nav-item text-end">
                            <a class="nav-link" asp-area="" asp-page="/LogInd/LogInd">Login</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item text-end">
                            <a class="nav-link" asp-area="" asp-page="/LogInd/LogUd">Logout</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
    
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>

    </main>
</div>


</body>
</html>
@{
    Layout = null;
}