.input-1 {
    text-align:center;
}
.btn-outline-light {
    color: white;
    border-color: black;
    background-color: black;
}
.body-1 {
    background-color: #fff387;
}
.container-1 {
    background-color: #ffffff;
    text-align: center;
}
.text1 {
    width: 75%;
    margin: 1em auto;
}
.plantegning{
    width: 100%;
    height: auto;
}
