/*.input-1 {
    text-align:center;
}
.btn-outline-light {
    color: white;
    border-color: black;
    background-color: black;
}
.plantegning {
    width: 100%;
    height: auto;*/
    /*Taget fra w3schools https://www.w3schools.com/css/css_rwd_images.asp*/
/*}
.log-ind{
    text-align:center;
    border: solid 1px;
    background-color: white;
}
.btn-margin{
    margin-bottom:0.5rem
}
.header-margin{
    margin-top: 0.1em
}*/
