body {
}

.book-btn{
    display: inline;
    float: right;
}
/*Code inspired by*/
/*https://codepen.io/dautoblog/pen/KMGogz*/


.toggle, [id^=drop] {
    display: none;
}

.soege-kriteria {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    border: solid black 2px;
}

.soege-kriteria:after {
        content: "";
        display: table;
        clear: both;
    }

.soege-kriteria ul {
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }

    .soege-kriteria ul li {
        margin: 0px;
        display: block;
        float: left;
        background-color: #FFF;
        width: 100%;
    }

    .soege-kriteria a {
        display: block;
        padding: 0 20px;
        color: #000;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
    }

    .soege-kriteria ul ul {
        display: none;
        position: absolute;
        top: 60px;
    }


    .soege-kriteria ul ul li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative;
    }

    .soege-kriteria ul ul ul li {
        position: relative;
        top: -60px;
        left: 170px;
    }

li > a:after {
    content: ' +';
}

li > a:only-child:after {
    content: '';
}

nav ul li:active > ul {
    display: inherit;
}
/* Her var der media querys, men de er slettet nu
--------------------------------------------- */

    .toggle + a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        background-color: #FFF;
        padding: 0 20px;
        color: #000;
        font-size: 22px;
        font-weight: bold;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }


    [id^=drop]:checked + ul {
        display: block;
    }

    .soege-kriteria ul ul .toggle,
    .soege-kriteria ul ul a {
        padding: 0 40px;
    }

    .soege-kriteria ul li ul li .toggle,
    .soege-kriteria ul ul a {
        background-color: #fff;
    }

    .soege-kriteria ul ul {
        float: none;
        position: static;
        color: #000;
    }

        .soege-kriteria ul ul li {
            display: block;
            width: 100%;
        }

        .soege-kriteria ul ul ul li {
            position: static;
        }

















#searchbar {
    margin-left: 15%;
    padding: 15px;
    border-radius: 10px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

    /* When the input field gets focus,
        change its width to 100% */
    input[type=text]:focus {
        width: 70%;
    }

#list {
    font-size: 1.5em;
    margin-left: 90px;
}

.animals {
    display: list-item;
} 