
custom-btn, .submitAprove, .submitDenied {
    padding: 0.5em 1em;
    border: solid 2px #555;
    width: 25%;
    font-size: 1.2em;
    font-weight: 700;
}

h1 {
    margin-top: 1em;
}
.tilbageLink {
    padding: 0.5em;
    border: solid 1.5px black;
    color: black;
    font-weight: 700;
}
.AflysbookingForm {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 2em auto 0;
}
.submitAprove {
    background-color: limegreen;
}
.submitDenied {
    background-color: red;
}

.lokaleInfoWrapper {
    margin: 1em auto;
    width: 75%;
    border: solid 1.5px #222;
    color: #555;
    padding: 2em;
}
.lokaleInfoWrapper p {
    margin: 0;
}