/*Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #000;
    background-color: #FFF387;
    border-color: #000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Taget fra w3schools https://www.w3schools.com/howto/howto_css_image_text.asp */
    color: black;
    background-color: white;
    font-size: 1.3em;
    padding: 0.5em;
    font-weight: bold;
}

.imagecontainer {
    position: relative;
    text-align: center;
    color: white;
    /*Taget fra w3schools https://www.w3schools.com/howto/howto_css_image_text.asp/ */
}

.imgpadding {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 2em;
}

.menuknapper {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    width: 100%;
}

.columntest {
    float: left;
    width: 33.33333333333%;
    /*taget fra https://www.w3schools.com/howto/howto_css_four_columns.asp*/
}

/* Clear floats after the columns */
.rowtest:after {
    content: "";
    display: table;
    clear: both;
    /*taget fra https://www.w3schools.com/howto/howto_css_four_columns.asp */
}

.skaler {
    width: 100%;
    height: 4rem;
}

.little_margin_top {
    margin-top: 2% !important;
}

.display_inline {
    display: inline !important;
}

.btn {
    border-radius: 0 !important;
}

#no_padding {
    padding: 0 !important;
}

.row {
    margin-right:0;
    margin-left:0;
}

h2 {
    font-size: 1.25rem;
}

.black-button {
    color: white !important;
    background-color: black;
    border-color: black;
    font-weight: bold;
}

.nav-link {
    display: inline-block;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

#forsideBillede {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.rediger-knap {
    margin-left: 2em !important;
}


/*CSS Skrevet af Alexander*/
.plantegning {
    width: 100%;
    height: auto;
    /*Taget fra w3schools https://www.w3schools.com/css/css_rwd_images.asp*/
}
#log-ind {
    text-align: center;
    border: solid 1px;
    background-color: white;
}

.btn-margin {
    margin-bottom: 0.5rem
}
#header-margin {
    margin-top: 0.1em
}

/*CSS skrevet af Marcus*/
.custom-btn, .submitAprove, .submitDenied, .submitBlack {
    padding: 0.5em 1em;
    border: solid 2px #555;
    width: 25%;
    font-size: 1.2em;
    font-weight: 700;
}
.topNavBar {
    background-color: #FFF387 !important;
}
.logo {
    width: 100%;
    float:left;
    display: inline;
}

.navbar-brand {
    text-align: left;
    display:inline;
    width: 50%;
}

.text-end {
    text-align: end;
}

h1 {
    margin-top: 1em;
    font-size: 2em;
}

.tilbageLink {
    padding: 0.5em;
    border: solid 1.5px black;
    color: black;
    font-weight: 700;
    margin-left: 2rem;
}

.tilbageLink:hover {
    color: black;
    text-decoration: none;
}

.AflysbookingForm {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 2em auto 0;
}
.submitAprove {
    background-color: limegreen;
}

.submitDenied {
    background-color: red;
}

.submitBlack {
    background-color: #222222;
    color: white;
}

/*Anders CSS kode*/
.book-btn:hover {
    color: #000 !important;
    background-color: #FFF387;
    border-color: #000;
}

.black-button:hover {
    color: white !important;
    background-color: black;
    border-color: black;
    font-weight: bold;
}

.book-btn {
    display: inline;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px 0%;
    font-weight: bold;
}

.ll-border-custom {
    border-top: 3px dashed black;
    max-width: 100%;
    margin-top: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
}

#ll-border-bottom {
    border-bottom: 3px dashed black;
    margin-bottom: 0.5rem;
}
.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100% !important;
}

.dropdown-kategorier {
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

.dropdown-button {
    text-align: center;
    width: 100% !important;
    border-left-width: 0px;
    border-right-width: 0px;
    color: black;
    background-color: white;
}

.mb-2 {
    margin-bottom: 1.5rem !important;
}

.ingen-border-bottom {
    border-bottom: 0px !important;
}

.form-control {
    display: inline-block;
    color: gray;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.3rem;
}

fieldset {
    padding-bottom: 0.5rem;
}

.lokale-info-centreret {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.centrer-item {
    text-align: center;
}

.footer-btn:hover {
    color: #000;
    background-color: #FFF387;
    border-color: #000;
}

.header-indstillinger {
    float:right;
    display: -webkit-box;
    margin-top: 1em;
}

.little_margin_left {
    margin-left: 2em;
}
/*Søge-bar*/
#searchbar {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 0.5em;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

input[type=text] {
    width: 100%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

/* Dropdown-menu kode er inspireret af*/
/*https://codepen.io/dautoblog/pen/KMGogz*/


.toggle, [id^=drop] {
    display: none;
}

.soege-kriteria {
    margin-bottom: 2em;
    padding: 0;
    background-color: #FFF;
    border: solid black 2px;
}

    .soege-kriteria:after {
        content: "";
        display: table;
        clear: both;
    }

    .soege-kriteria ul {
        /*  float: left;*/
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }

        .soege-kriteria ul li {
            margin: 0px;
            display: block;
            float: left;
            background-color: #FFF;
            width: 100%;
        }

    .soege-kriteria a {
        display: block;
        padding: 0 20px;
        color: #000;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
    }

    .soege-kriteria ul ul {
        display: none;
        position: absolute;
        top: 60px;
    }


        .soege-kriteria ul ul li {
            width: 170px;
            float: none;
            display: list-item;
            position: relative;
        }

        .soege-kriteria ul ul ul li {
            position: relative;
            top: -60px;
            left: 170px;
        }

li > a:after {
    content: ' +';
}

li > a:only-child:after {
    content: '';
}

nav ul li:active > ul {
    display: inherit;
}

.toggle + a,
.menu {
    display: none;
}

.toggle {
    display: block;
    background-color: #FFF;
    padding: 0 20px;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
    text-decoration: none;
}


[id^=drop]:checked + ul {
    display: block;
}

.soege-kriteria ul ul .toggle,
.soege-kriteria ul ul a {
    padding: 0 40px;
}

.soege-kriteria ul li ul li .toggle,
.soege-kriteria ul ul a {
    background-color: #fff;
}

.soege-kriteria ul ul {
    float: none;
    position: static;
    color: #000;
}

    .soege-kriteria ul ul li {
        display: block;
        width: 100%;
    }

    .soege-kriteria ul ul ul li {
        position: static;
    }



/*Media Queries*/

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {

    .book-btn {
        width: 25%;
    }
    .plantegning {
        width: 65%;
    }
    .logo {
        width: 10em;
        height: 2em;
    }
}

@media (max-width: 706px) {

.custom-btn {
    height: 7vh !important;
    font-size: 3.2vw !important;
    padding: 1em 0em !important;
}

.AflysbookingForm {
    margin: 0 auto 0 !important;
}

.rediger-knap {
    margin-left: 2em !important;
}

.footer-btn {
    font-size: 4vw !important;
}

h1 {
    padding: 0 1em;

}
.form-control {
    font-size: 4vw !important;
/*Skal være 4vw fordi alt under ser ud til at ændre på dropdown, så den sidder skævt.*/
}

}


