/*Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #000;
    background-color: #FFF387;
    border-color: #000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.line-space {
    height: 1.3rem;
}


.tynd_knap {
    font-size: 0.8em !important;
    padding: 7px;
}

.wider-box {
    width: 14em;
}

.Bredde100 {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Taget fra w3schools https://www.w3schools.com/howto/howto_css_image_text.asp */
    color: black;
    background-color: white;
    font-size: 1.3em;
    padding: 0.5em;
    font-weight: bold;
}

.imagecontainer {
    position: relative;
    text-align: center;
    color: white;
    /*Taget fra w3schools https://www.w3schools.com/howto/howto_css_image_text.asp/ */
}

.imgpadding {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 2em;
}

.menuknapper {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    width: 100%;
}

.columntest {
    float: left;
    width: 33.33333333333%;
    /*taget fra https://www.w3schools.com/howto/howto_css_four_columns.asp*/
}

/* Clear floats after the columns */
.rowtest:after {
    content: "";
    display: table;
    clear: both;
    /*taget fra https://www.w3schools.com/howto/howto_css_four_columns.asp */
}

.skaler {
    width: 100%;
    height: 4rem;
}

.rund_knap {
    border-radius: 50px;
}

.opgave_border {
    border-style: solid;
    padding: 1em 0em;
}

.ingen_liste_prik {
    padding-left: 0px;
    list-style-type: none;
}

    .ingen_liste_prik ul li {
        list-style-type: none;
    }

.knap_divider {
    margin-right: 30%;
}

.little_margin_top {
    margin-top: 2% !important;
}

.display_inline {
    display: inline !important;
}

#margin_center {
    margin-right: 2.5%;
    margin-left: -5.5%;
}

.margin_left_small {
    margin-left: 2.5%;
}

.btn {
    border-radius: 0 !important;
}

#no_padding {
    padding: 0 !important;
}

.row {
    margin-right:0;
    margin-left:0;
}

h2 {
    font-size: 1.25rem;
}

.black-button {
    color: white !important;
    background-color: black;
    border-color: black;
    font-weight: bold;
}

.nav-link {
    display: inline-block;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.forsideBillede {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
    .container {
        max-width: 100%;
    }
}

@media (max-width: 706px) {

.custom-btn {
    height: 7vh !important;
    font-size: 3.5vw !important;
    padding: 1em 0em !important;
}

.AflysbookingForm {
    margin: 0 auto 0 !important;
}

.footer-btn {
    font-size: 4vw !important;
}

h1 {
    padding: 0 1em;
}
.form-control {
    font-size: 4vw !important;
}

}

