@page
@model _2.Eksamensprojekt.Pages.LogInd.LogIndModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Log Ind</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Marcus.css" />
    <link rel="stylesheet" href="~/css/Alexander.css" />
</head>
<body style="background-color: #FFF387">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 topNavBar">
            <div class="container">
                <a class="navbar-brand"> <img class="logo" src="~/img/Zealand_logo_black_RGB_1600px_72dpi.png" alt="Logo"> </a>
                <ul class="navbar-nav flex-grow-1">
                    @{
                        if (LogIndModel.LoggedInUser == null)
                        {
                            <li class="nav-item text-end">
                                <a class="nav-link black-button" asp-area="" asp-page="/LogInd/LogInd" required>Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item text-end">
                                <a class="nav-link black-button" asp-area="" asp-page="/LogInd/LogUd" required>Log ud</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">


            <div class="log-ind">
                <h1 class="header-margin">SUPERBOOKER 4000!!!!!!</h1>
                <form method="post">
                    <div>
                        <label asp-for="EmailLogInd">Email</label>
                        <div>
                            <input asp-for="EmailLogInd" placeholder="bruger@zealand.dk"/>
                        </div>
                        <span asp-validation-for="EmailLogInd" class="alert-danger"></span> <br />
                    
                    
                        <label asp-for="Password"></label>
                        <div>
                            <input asp-for="Password" placeholder="Adgangskode" />
                        </div>
                        <span asp-validation-for="Password" class="alert-danger"></span> <br />
                        <button class="btn btn-primary btn-margin black-button">Log in</button>
                        <p>Glemt kodeord? Send en SMS med teksten "kodeord" til 50 76 27 10</p>
                    </div>
                </form>
            </div>


        </main>
    </div>

    @{Layout = null;}

</body>
</html>