@page
@model _2.Eksamensprojekt.Pages.AdministrationPages.AdministrationBegrænsningerModel
@{
    ViewData["Title"] = "Admin Begrænsninger";
}

<div class="centered">
    <h1>Studerendes rettigheder</h1>
    <form method="post">
        <fieldset>
            <label>Antal bookings de må have ad gangen</label>
            <input type="text" asp-for="@Model.NewLimit" value="@Model.NewLimit"/>
        </fieldset>
        <fieldset>
            <label>Senest tid et lokale må blive booket til</label>
            <input type="time" asp-for="@Model.TimeLimit" value="@Model.TimeLimit"/>
        </fieldset>

        <input type="submit" value="Updatere"/>
    </form>
</div>