@page "{id:int}"
@model _2.Eksamensprojekt.Pages.AdministrationPages.AdministrationBookingModel
@{
}
<a href="#">content</a>
<div class="centered">
    <h1>Booking af</h1>

    @* TODO *@
    
    [@Model.Lokale.LokaleNummer] - 
    @Model.Lokale.LokaleNavn
    
    <form method="post">
        
        @foreach (var claim in User.Claims)
        {
            if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")
            {
                Model.Email.BrugerEmail = claim.Value;
                <input type="text" value="@claim.Value" asp-for="Email.BrugerEmail" hidden="hidden"/>
            }
        }
        
        

        <fieldset>
            <label>Tidspunkt og dato Fra:</label>
            <br/>
            <input type="datetime-local" asp-for="@Model.Booking.Dag"/>
        </fieldset>
        <fieldset>
            <label>Til:</label>
            <br/>
            <input type="time" asp-for="Booking.TidStart"/>
        </fieldset>
        <fieldset>
            <label>Bookes for</label>
            <br/>
            <select>
                <option value="value">text</option>
            </select>
        </fieldset>

        <input type="submit" value="Book" class="btn-primary" asp-page-handler="book" asp-route-id="@Model.Lokale.LokaleID"/>
    </form>
</div>
