@page
@using SuperBookerData
@model _2.Eksamensprojekt.Pages.AdministrationPages.AdministrationAflysBekræftigelseModel
@{
}

<a class="tilbageLink" asp-page="/AdministrationForside"> < TILBAGE TIL ALLE BOOKINGER</a>

<h1 class="text-center">Følgende booking er blevet slettet</h1>
<div class="lokaleInfoWrapper">
    <h3>@Model.Lokale.LokaleNavn</h3>
    <p><b>Størrelse:</b> @Enum.GetName(typeof(LokaleSize), (Model.Lokale.LokaleSize - 1)) </p>
    <p><b>Antal pladser tilbage:</b> @Model.Lokale.LokaleMuligeBookinger</p>
    <p><b>Dato:</b> 30/05-2022</p>
    <p><b>Tidspunkt:</b> 10:00 - 12:00</p>
    <p><b>Booket af:</b> Marcus (DAT 2B)</p>
</div>

<form method="post" class="AflysbookingForm">
    <input type="submit" value="OK" class="submitBlack custom-btn" />
</form>